/**
  * @name Dark+-Defualt-Member-List
  * @author DevEvil#8745
  * @version Dark+1
  * @description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.xyz
  * @source https://github.com/DevEvil99/DarkPlus-Defualt-Memberlist
  * @website https://devevil.xyz
  * @invite jsQ9UP7kCA
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark%2B-Defualt-Member-List/Dark%2B-Default-Member-List.css');

:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/852117175212179466/discord-avatar-512-YV0PV.png)
}
